.clear {
	border: none;
}

.apps-wrapper {
	width: 99.7%;
	border-left: 1px solid #A8A8A8;
	border-right: 1px solid #A8A8A8;
}

.grid .apps {
	margin-left: 2px;
}

.grid .apps > li {
	width: 293px;
}

#page {
	margin-top: 30px;
}

#large-banner a {
	opacity: 1 !important;
}

.screenshots .screenshots-wrapper .img-wrapper {
display: block;
float: left;
}

.screenshots .screenshots-wrapper img {
zoom: 1;
*display: inline;
}

.page > .aside {
	display: block;
	float: left;
}

.page > .section {
	display: block;
	float: left;
}