html, body {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #666;
	position: relative;
	text-align: center;
	background: #EEE;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

input {
	border-radius: 7px;
	border: none;
	padding: 6px;
}

a {
	color: #666;
	text-decoration: none;
}

strong {
	font-weight: bold;
}



/*COMMON*/

.top-bar-btn {
	background: url('../img/common/top-bar-bg.png');
	height: 28px;
	line-height: 28px;
	-webkit-box-shadow: inset 0 0 10px #003155, 0 1px 0 #7297D1;
	-moz-box-shadow: inset 0 0 10px #003155, 0 1px 0 #7297D1;
	box-shadow: inset 0 0 10px #003155, 0 1px 0 #7297D1;
	text-shadow: #0D2953 0px 0px 3px;
	border-radius: 5px;
	color: #FFF;
}

	.top-bar-btn.disabled {
		background: url('../img/common/top-bar-bg-disabled.png');
		color: #656565;
	}


.top-nav-btn {
	line-height: 25px;
	height: 25px;
	border-radius: 7px;
	background: url('../img/common/quicksearch-bg.png');
	-webkit-box-shadow: inset 0 0 4px #003155, 0 1px 0 #7297D1;
	-moz-box-shadow: inset 0 0 4px #003155, 0 1px 0 #7297D1;
	box-shadow: inset 0 0 4px #003155, 0 1px 0 #7297D1;
	color: #FFF;
}

.clear {
	background: url('../img/common/clear.png') no-repeat;
	width: 17px;
	height: 17px;
	border: 1px solid #CCC;
	border-radius: 20px;
	background-position: 2px 2px;
	-webkit-box-shadow: 0px 0px 5px #CCC;
	-moz-box-shadow: 0px 0px 5px #CCC;
	box-shadow: 0px 0px 5px #CCC;
}

.install-button {
	display: inline-block;
	background: url('../img/common/button-install-bg.png');
	height: 25px;
	line-height: 25px;
	color: #FFF;
	width: auto;
	padding: 0px 8px;
	text-align: center;
	border-radius: 4px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: #6a6c6d 0 -1px 0;
}

.update-button {
	background: url('../img/common/button-update-bg.png');
	text-shadow: #6a6c6d 0 -1px 0;
}

.reinstall-button {
	background: url('../img/common/button_bg.png');
	text-shadow: #3C3D3E 0 -1px 0;
}

.updates-btn {
		position: absolute;
		top: 12px;
		right: 0px;
		font-weight: bold;
		text-align: left;
		padding-left: 12px;
		padding-right: 42px;

	}

		#updates .updates-btn {
			padding-right: 12px;
			right: 12px;
			top: 4px;
			width: 80px;
			text-align: center;
			display: inline-block;
		}

		.updates-btn > div {
			position: absolute;
			display: block;
			right: 1px;
			top: 3px;
			border-left: 1px solid #293E65 ;
			width: 30px;
			height: 25px;
			text-align: center;
			background: url('../img/common/updates-ico.png') no-repeat;
			background-position: 4px 1px;
			padding-left: 1px;
			line-height: 25px;
		}

		.updates-btn.disabled > div {
			border-left: 1px solid #293e65;
			background: url('../img/common/updates-ico-disabled.png') no-repeat;
			background-position: 4px 1px;
		}

.loader {
	overflow: hidden;
	width: 100%;
}

	.loader > .wrapper {
		height: 250px;
		width: 100%;
		text-align: center;
		background: #FFF;
		opacity: 0.6;

	}

	.loader > .wrapper > .box {
		display: inline-block;
		margin-top: 90px;
	}
		.loader > .wrapper > .box > p {
			display: block;
			margin-bottom: 15px;
			font-size: 18px;
			font-style: italic;
			margin-left: 15px;
		}

.search-results {
	position: absolute;
	z-index: 9999;
	top: 2px;
	left: 600px;
	display: none;
}

	.search-results > .tick {
		position: absolute;
		top: 10px;
		left: 180px;
		width: 25px;
		overflow: hidden;
		height: 30px;
	}
	.search-results > .tick > .bground {
		border-color: transparent transparent #000000 transparent ;
		border-style: solid;
		border-width: 15px;
		height:0;
		width:0;
		position:absolute;
		top:0px;
		left:-3px;
		z-index: 999999;
	}
		.search-results > .tick .border {
			border-color: transparent transparent #3c3c3c transparent  ;
			border-style: solid;
			border-width: 13px;
			height:0;
			width:0;
			position:absolute;
			top: -11px;
			left: -13px;
		}
		.search-results > .tick .inner {
			border-color: transparent transparent #3c3c3c transparent  ;
			border-style: solid;
			border-width: 12px;
			height:0;
			width:0;
			position:absolute;
			top: -9px;
			left: -12px;

		}

	.search-results > .wrapper {
		width: 330px;
		background: #000;
		position: absolute;
		top: 37px;
		padding: 2px;
		border-radius: 12px;
		overflow: hidden;

	}

		.search-results > .wrapper > .inner {
			background: #3c3c3c;
			height: 350px;
			border-radius: 10px;
			padding: 0px 6px 6px 6px;
		}

			.search-results > .wrapper > .inner > h2 {
				text-align: center;
				color: #FFF;
				font-size: 18px;
				font-weight: bold;
				line-height: 36px;
				text-shadow: -1px 1px 1px #000;
			}

			.search-results > .wrapper > .inner > .scrollable {
				margin-left: 0px;
				background: #FFF;
				width: 100%;
				height: 308px;
				border-radius: 6px;
				-webkit-box-shadow: inset 0px 3px 3px #AAA;
				-moz-box-shadow: inset 0px 3px 3px #AAA;
				box-shadow: inset 0px 3px 3px #AAA;
				overflow-y: scroll;
			}

				.search-results .results {
					overflow: hidden;
				}

					.search-results .results > li {
						display: block;
						padding: 10px;
						border-bottom: 1px solid #bbbbbb;
					}

						.search-results .results > li > img {
							width: 25px;
							height: 25px;
							float: left;
							margin-right: 10px;
						}

						.search-results .results > li > h3 {
							line-height: 25px;
							font-size: 16px;
							font-weight: bold;

						}


/* overlay */

.overlay {
	display: none;
}
	.overlay .screen {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		min-height: 1500px;
		background: #000;
		filter: alpha(opacity=60);
		-khtml-opacity: 0.6;
		-moz-opacity: 0.6;
		opacity: 0.6;
		z-index: 999;
	}
	.overlay .box-wrapper {
		width: 100%;
		position: absolute;
		top: 200px;
		left: 0px;
		text-align: center;
		z-index: 9999;
	}
	.overlay .box {
		display: inline-block;
		background: #FFF;
		z-index: 9999;
		border: 11px solid #333;
		border-radius: 5px;
		padding: 10px;
		text-align: left;
		max-width: 960px;
	}

		.overlay .box a {
			color: blue;
			text-decoration: underline;
		}
		.overlay .box > .footer {
			border-top: 1px solid #EEE;
			padding: 10px 8px 8px 0px;
			line-height: 12px;
			text-align: right;
		}

		.overlay .install {

		}

			.overlay .install h2 {
				background: url('../img/overlay/how_to_install.jpg');
				width: 156px;
				height: 26px;
			}

			.overlay .install > ul {
				overflow: hidden;
				display: block;
				margin-bottom: 80px;
			}
			.overlay .install > ul > li {
				display: block;
				float: left;
				width: 197px;
				margin-right: 8px;
				padding: 8px;
			}

			.overlay .install > ul > li h3 {
				font-size: 24px;
				color: #AAA;
				line-height: 48px;
			}

			.overlay .install > ul > li .img-wrap {
				width: 100%;
				text-align: center;
			}

				.overlay .install > ul > li .img-wrap img {
					display: inline-block;
				}
			.overlay .install > ul > li p {
				line-height: 12px;
				padding: 6px 0px;
			}

			.overlay .install > ul > li a.download {
				line-height: 22px;
				padding-right: 5px;
			}

			.overlay .install > ul > li a:after {
				content: url('../img/overlay/blue_arrow.gif');
			}
/*LAYOUT COMMON*/

#store-header {
	width: 100%;
	background: url('../img/common/top_banner.png');
	height: 54px;
	clear: both;
	margin-bottom: 25px;
	text-align: center;
	position: relative;
}

	#store-header .wrapper {
		display: inline-block;
		width: 100%;
		position: relative;
	}

		.roche.home #store-header .wrapper {
			background: url('../img/common/head-roche-logo.png') no-repeat;
			background-position: 0px 9px;
		}

		.gene.home #store-header .wrapper {
			background: url('../img/common/head-gene-logo.png') no-repeat;
			background-position: 0px 10px;
		}

	#store-header h1 {
		display: inline-block;
		text-overflow: ellipsis;
		max-width: 600px;
		overflow: hidden;
		font-size: 18px;
		color: #FFF;
	}
	#store-header h1.logo {
		background: url('../img/common/img-app-store-logo.png');
		width: 150px;
		height: 33px;
		margin-top: 10px;

	}

		#store-header h1 > span {
			line-height: 22px;
			font-weight: bold;
			word-wrap: normal;
			white-space: nowrap;
			line-height: 40px;
			height: 40px;
		}
	#store-header .btn-home {
		position: absolute;
		left: 20px;
		top: 11px;
		width: 34px;
		height: 30px;
	}

		#store-header .btn-home div {
			width: 25px;
			height: 21px;
			position: absolute;
			left: 5px;
			top: 5px;
			background: url('../img/common/icon-home.png') no-repeat;
		}

	body.home #store-header .btn-home {
		display: none;
	}

	#store-header .search-button {
		display: none;
	}

	#store-header form {
		display: none;
	}

	#store-header .updates-btn {
		padding-top: 2px;
	}

#page-wrapper {
	display: inline-block;
	text-align: left;
	width: 960px;
	min-height: 615px;
	overflow: hidden;
}

#page-wrapper .slider {
	position: relative;
	margin: 0;
	width: 960px;
}

.page {
	display: block;
	text-align: left;
	width: 960px;

	position: relative;
	left: 0;
	-webkit-backface-visibility: hidden;
	/*-webkit-perspective: 1000;*/
}

.page.slide {
	position: absolute;
	top: 0;
	left: 0;
}

	#banners {
		width: 100%;
		overflow: hidden;
		margin-bottom: 25px;
	}

		#banners .markers {
			display: none;
		}
		#banners > * {
			display: block;
			float: left;
		}
		#banners a {
			display: block;
		}
		#large-banner {
			overflow: hidden;
			border-radius: 15px 0px 0px 15px;
			position: relative;
			width: 732px;
			height: 275px;
		}
		.iphone #large-banner {
			height: 95px;
		}
		#large-banner a {
			position: absolute;
			left: 0;
			top: 0;

			opacity: 0;
			display: none;

			-moz-transition: opacity 1.5s ease;
			-webkit-transition: opacity 1.5s ease;
			-ms-transition: opacity 1.5s ease;
			-o-transition: opacity 1.5s ease;
			transition: opacity 1.5s ease;
		}

			#large-banner img {
				width: 732px;
				height: 275px;

			}
		#side-banner {
			overflow: hidden;
			border-radius: 0px 15px 15px 0px;
		}

			#side-banner img {
				width: 228px;
			}

				#side-banner img {
					display: block;
				}
	.apps-showroom {
		width: 100%;
		clear: both;
		margin-bottom: 20px;
		position: relative;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

		.apps-showroom.list .nav-button, .apps-showroom.list #markers {
			display: none;
		}

		.apps-showroom .apps-nav-bar {
			width: 100%;
			background: url('../img/common/nav_bg.png') repeat-x;
			height: 36px;
			clear: both;
			overflow: hidden;
			position: relative;
		}

			.apps-showroom .apps-nav-bar h2 {
				line-height: 36px;
				height: 36px;
				color: #FFF;
				padding: 0px 16px;
				font-weight: bold;

			}

			.top-nav {
				border-radius: 10px 10px 0px 0px;
			}

				#apps-sort-fake {
					position: absolute;
					left: 54px;
					top: 5px;
					width: 160px;
					padding: 0px 0 0px 10px;
					font-weight: bold;
				}

					#apps-sort-fake .arrow {
						position: absolute;
						top: 10px;
						right: 6px;
						width: 10px;
						height: 7px;
						background: url('../img/common/icon-category-arrow.png') no-repeat;
					}
					#apps-sort {
						position: absolute;
						top: 0px;
						left: 0px;
						opacity: 0;
						filter: alpha(opacity=0);
					}

						#apps-sort select {
							width: 170px;
							height: 27px;
						}

				#apps-search {
					position: absolute;
					right: 54px;
					top: 5px;
				}

					#apps-search input {
						padding: 0px;
						padding-left: 30px;
						padding-right: 30px;
						width: 130px;
						border: none;
						line-height: normal;
					}

					#apps-search .ico {
						position: absolute;
						top: 6px;
						left: 8px;
						width: 13px;
						height: 12px;
						background: url('../img/common/icon-search.png');

					}

					#apps-search .clear-wrapper {
						position: absolute;
						width: 28px;
						height: 28px;
						top: 0px;
						right: 0px;
						border-radius: 28px;
					}
					#apps-search .clear {
						display: block;
						position: absolute;
						top: 4px;
						right: 6px;
					}

					#apps-search .install-button {
						display: none;
					}

			.bottom-nav {
				border-radius: 0px 0px 10px 10px;
			}

				.apps-showroom .nav-button {
					position: absolute;
					display: block;
					height: 36px;
					width: 43px;
				}

				.apps-showroom .left-nav-button {
					top:0px;
					left: 0px;
					background: url('../img/common/arrow-left.png') no-repeat;
					background-position: center;
					border-right: 1px solid #293E65;
				}

				.apps-showroom .right-nav-button {
					top: 0px;
					right: 0px;
					background: url('../img/common/arrow-right.png') no-repeat;
					background-position: center;
					border-left: 1px solid #293E65;
				}

				.apps-showroom .nav-button.disabled {
					background-image: none;
				}

				#markers {
					text-align: center;
				}

					#markers a {
						background: url('../img/common/icon-pages-active.png');
						display: inline-block;
						width: 10px;
						height: 10px;
						margin-top: 14px;
						margin-right: 8px;
						background-position: 0px 1px;
					}

					#markers a.active {
						background: url('../img/common/icon-pages.png');

					}

				#apps-slider {
					display: inline-block;
					width: 440px;
					text-align: center;
					margin-left: 60px;
					position: relative;
					text-align: center;
				}

					#apps-slider .path {
						width:100%;
						height: 7px;
						display: inline-block;
						background: #333;
						margin-top: 14px;
						box-shadow: inset 0px 0px 6px #000;
						-webkit-box-shadow: inset 0px 0px 6px #000;
						-moz-box-shadow: inset 0px 0px 6px #000;
						border-radius: 3px;
					}

					#apps-slider .handle-wrapper {
						position: absolute;
						top: 4px;
						left: 5px;
						width: 830px;
					}
					#apps-slider .handle {
						width: 40px;
						height: 25px;
						background: #444;
						position: absolute;
						top: 0px;
						left: 140px;
						border-radius: 4px;
						box-shadow: inset 0px 0px 1px #FFF;
						-webkit-box-shadow: inset 0px 0px 1px #FFF;
						-moz-box-shadow: inset 0px 0px 1px #FFF;
						border: 1px solid #222;

					}

		.apps-wrapper {
			display: block;
			width: 100%;
			box-shadow: inset 0px 0px 10px #666;
			-webkit-box-shadow: inset 0px 0px 10px #666;
			-moz-box-shadow: inset 0px 0px 10px #666;
			overflow: hidden;
		}

		.grid .apps-wrapper {
			height: 238px;
			position: relative;
			height: 238px;
		}

		.list .apps-wrapper {
			height: auto;
		}
		.grid .apps {
			top: 0px;
			left: 0px;
			position: absolute;
			height: 238px;
			width: 1920px;
			margin-left: 2px;

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;


			-moz-transition: 0.5s ease;
			-webkit-transition: 0.5s ease;
		}

			.list .apps > li {
				display: block;
				position: relative;
				padding: 25px 10px 25px 15px;
				border-bottom: 1px solid #A8A8A8;
			}
			.grid .apps > li {
				display: block;
				float: left;
				width: 293px;
				border-right: 1px solid #A8A8A8;
				border-top: none;
				border-left: none;
				border-bottom: 1px solid #A8A8A8;
				padding: 25px 10px 25px 15px;
				position: relative;
				-webkit-tap-highlight-color: rgba(200,200,200,0.3);
			}

				.apps > li .img-wrap {
					float: left;
					width: 57px;
					height: 57px;
					margin-right: 10px;
					margin-top: 5px;
					border-radius: 7px;
					overflow: hidden;
					box-shadow: 0px 0px 10px #666;
					-webkit-box-shadow: 0px 0px 10px #666;
					-moz-box-shadow: 0px 0px 10px #666;
				}

					.apps > li .img-wrap img {
						width: 57px;
						height: 57px;
					}

				.apps > li .content {

				}

					.apps > li .content > h3 {
						height: 22px;
						width: 150px;
						overflow: hidden;
						font-weight: bold;
						text-overflow: ellipsis;
					}

						.apps > li .content > h3 a {
							line-height: 22px;
							font-weight: bold;
							word-wrap: normal;
							white-space: nowrap;
						}

					.apps > li .content > p {
						font-size: 10px;
						line-height: 15px;
					}

				.apps > li .install-button {
					position: absolute;
					top: 48px;
					right: 15px;
				}

	 .page > .aside {
		display: inline-block;
		width: 205px;
		text-align: center;
		margin-right: 35px;
	}

		.page > .aside > .img-wrap {
			display: inline-block;
			-webkit-box-shadow: 0px 0px 10px #666;
			-moz-box-shadow: 0px 0px 10px #666;
			box-shadow: 0px 0px 10px #666;
			width: 170px;
			height: 170px;
			border-radius: 32px;
			overflow: hidden;
		}

			.page > .aside > .img-wrap img {
				width: 170px;
				height: 170px;
			}

		.page > .aside > .install-button {
			margin: 18px 0px;
		}

		.page > .aside > .app-info {
			text-align: left;
			padding: 0px 18px;
		}

		.page > .aside > .app-info ul {
			padding: 5px 0px;
		}

		.page > .aside > .app-info li {
			line-height: 14px;
		}

	.page > .section {
		display: inline-block;
		vertical-align: top;
		width: 715px;
	}

		.page > .section > h2 {
			font-size: 24px;
			padding-bottom: 10px;
		}

		.page > .section h3 {
			font-size: 16px;
			line-height: 34px;
			height: 34px;
			font-weight: bold;
		}

			.page > .section > div {
				background: url('../img/common/paragraphs-separator.png') no-repeat;
				background-position: left bottom;
				overflow: hidden;
			}

			.page > .section > .description {
				margin-top: 12px;
				padding-bottom: 15px;
			}

				.page > .section > .description > * {
					padding-bottom: 15px;
				}

				.page > .section > .description li {
					line-height: 22px;
					list-style: disc;
					margin-left: 16px;
					text-indent: 8px;
				}

                .screenshots {
                    width: 94%;
                    background: #e8e8e8;
                    border-radius: 12px;
                    -webkit-box-shadow: 1px 1px 1px #CCC;
                    -moz-box-shadow: 1px 1px 1px #CCC;
                    box-shadow: 1px 1px 1px #CCC;
                    border-left: 1px solid #FFF;
                    border-top: 1px solid #FFF;
                    text-align:center;
                    position: relative;
                    overflow: hidden;
                    padding-bottom: 10px;
                    margin-bottom: 25px;
                    padding: 10px 3% 10px 3%;
        		}

                    .screenshots .screenshots-wrapper {
						overflow: hidden;
                    }
                                .screenshots-wrapper .scrollable {
                                            width: 3000px;
                                            text-align: left;

                                            -webkit-transform: translate3d(0, 0, 0);
                                            -moz-transform: translate3d(0, 0, 0);

                                            -webkit-touch-callout: none;
											-webkit-user-select: none;
											-khtml-user-select: none;
											-moz-user-select: none;
											-ms-user-select: none;
											user-select: none;


											-moz-transition: all 0.5s ease;
											-webkit-transition: all 0.5s ease;
											-ms-transition: all 0.5s ease;
											-o-transition: all 0.5s ease;
											transition: all 0.5s ease;
                                }

                                .screenshots .screenshots-wrapper .img-wrapper {
                                            display: inline-block;
                                            max-height: 390px;
                                            width: 672px;
                                            text-align: center;
                                }

                                .ipad.portrait .screenshots .screenshots-wrapper .img-wrapper {
                                            width: 436px;
                                }

                                .screenshots .screenshots-wrapper  img {
                                	max-height: 390px;
                                	display: inline-block;
                                }
                    .screenshots .bar {
                        display: inline-block;
						width: 95%;
						height: 8px;
						background: #FFF;
						bottom: 10px;
						left: 2.5%;
						background: #DDD;
						border-radius: 5px;
						border: 1px solid #ccc;
                    }

                    .screenshots .switchers {
						display: inline-block;
						width: 93px;
						height: 30px;
						background: #FFF;
						bottom: 10px;
						left: 2.5%;
						background: #DDD;
						border-radius: 5px;
						border: 1px solid #ccc;
						padding: 2px;
						margin: 15px 0px;
					}
						.screenshots .switchers a {
							display: inline-block;
							width: 45px;
							height: 30px;

						}

						.screenshots .switchers a.left {
							background: url('../img/common/btnLeftArrow.png');
						}

						.screenshots .switchers a.right {

							background: url('../img/common/btnRightArrow.png');
						}

					.screenshots .bar > .handle {
						width: 200px;
						height: 8px;
						background: url('../img/common/handle.png');
						border-radius: 8px;
					}

	#store-footer {
		display: none;
		width: 100%;
		height: 32px;
		background: url('../img/common/store-footer.png') repeat-x;
		position: fixed;
		bottom: 0px;
		text-align: center;
	}

		#store-footer div {
			display: inline-block;
			height: 20px;
			margin-top: 7px;
		}

			.gene #store-footer div {
				background: url('../img/common/gene-logo.png');
				width: 72px;
			}

			.roche #store-footer div {
				background: url('../img/common/roche-logo.png');
				width: 67px;
			}

/*LAYOUT WEB*/
.web #store-header .wrapper {
	display: inline-block;
	width: 960px;
	position: relative;
}

.web .screenshots .switchers {
	/*display: none;*/
}
/*LAYOUT IPAD*/

.ipad #store-header {
	margin-bottom: 10px;
}

.ipad #banners {
	margin-bottom: 10px;
}

.ipad.landscape #store-header .wrapper {
	display: inline-block;
	width: 960px;
	position: relative;
}

.ipad.landscape #page-wrapper {
	width: 960px;
}

.ipad .screenshots .switchers {
	/*display: none;*/
}

.ipad.landscape .page {
	width: 960px;
}

.ipad.portrait #store-header .wrapper {
	display: inline-block;
	width: 704px;
	position: relative;
}

.ipad.portrait #page-wrapper {
	width: 704px;
}

.ipad.portrait .page {
	width: 704px;
}


.ipad.portrait .page > .section {
	width: 464px;
}

.ipad.portrait .page > .aside > .install-button {
	clear: both;
}

.ipad.portrait #large-banner {
	width: 537px;
	height: 202px;
}

.ipad.portrait #large-banner img {
	width: 537px;
	height: 202px;
}
.ipad.portrait #side-banner img {
	width: 167px;
	height: 67px;
}

.ipad.portrait .grid .apps > li {
	width: 208px;
	padding: 15px 10px 36px 15px;
}

.ipad.portrait .apps > li .content > h3 {
	width: 140px;
}

.ipad.portrait .grid .apps > li .install-button {
	bottom: 7px;
	left: 12px;
	top: auto;
	right: auto;
}
/*LAYOUT IPHONE*/

.iphone #store-header .btn-home {
	top: 6px;
	left: 6px;
}

.iphone.home #store-header .wrapper {
	background: none;
}
.iphone .top-bar-btn {
	background: url('../img/common/top-bar-btn-bg-iphone.png');
}
.iphone #store-header {
	background: url('../img/common/top-bar-bg-iphone.png');
	height: 44px;
}
.iphone #store-header .wrapper {
	width: 100%;
}

.iphone #store-header h1 {
	max-width: 220px;
}

	.iphone #store-header h1.logo {
		margin-top: 7px;
	}
.iphone #store-header .updates-btn {
	display: block;
	right: 10px;
	padding: 0px;
	width: 32px;
	padding-top: 2px;
	top: 6px;
}

	.iphone.updates  #store-header .updates-btn {
		right: 10px;
	}
	.iphone #store-header .updates-btn span {
		display: none;
	}

	.iphone #store-header .updates-btn div {
		border-left: none;
	}
	.iphone #store-header .updates-ico {
		width: 19px;
		height: 19px;
		background: url('../img/common/updates-ico.png');
		margin-top: 3px;
	}

	.iphone #apps-search .ico {

		left: 25px;
	}

.iphone #store-header .search-button {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 6px;
	left: 6px;
	border-radius: 4px;
	width: 32px;
	height: 30px;
}

	.iphone #store-header .search-button div {
		background: url('../img/common/icon-search.png') no-repeat;
		width: 13px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.iphone.updates #store-header  .search-button {
		display: none;
	}

.iphone #banners {
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}

	.iphone #banners .markers {
		display: block;
		width: 100%;
	}

	.img-markers {
		display: block;
		width: 100%;
		text-align: center;
		margin: 15px 0px;
	}

	.iphone #banners .markers a, .img-markers a {
		display: inline-block;
		width: 8px;
		height: 8px;
		background: #7588ad;
		border-radius: 8px;
		margin: 1px;
		margin-right: 6px;
		-webkit-box-shadow: inset 0px 1px 1px #000;
		-moz-box-shadow: inset 0px 1px 1px #000;
		box-shadow: inset 0px 1px 1px #000;
	}

	.iphone #banners .markers a.active, .img-markers a.active {
		background: #2c4c7b;
	}
.iphone #large-banner {
	width: 100%;
	border-radius: 12px;
	text-align: center;
}

	.iphone #large-banner a {
		width: 100%;
		display: block;
		border-radius: 12px;
		overflow: hidden;
	}
	.iphone #large-banner img {
		display: block;
		margin: auto;
		width: 290px;
		height: 88px;
	}

.iphone #side-banner {
	display: none;
}

.iphone .apps > li {
	width: 300px;
}

.iphone .apps > li .install-button {
	top: 32px;
	right: 15px;
}

.iphone .search-results {
	display: none;
}

.iphone .bottom-nav {
	display: none;
}

.iphone #apps-sort-fake {
		left: 10px;
	}


.iphone .apps-wrapper {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.iphone .grid .apps {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.iphone .apps > li {
	border: none;
	border-bottom: 1px solid #CCC;
	padding: 3%;
	width: 94%;
}

	.iphone .apps > li:last-of-type {
		margin-bottom: 12px;
	}

	.iphone .grid .apps > li > .install-button {
		top: 32px;
	}

.iphone #page-wrapper, .iphone #page-wrapper .slider {
	width: 100%;
	padding: 0%;
	min-height: 400px;
}


	.iphone .page {
		width: 96%;
		padding: 2%;
	}

	.iphone #home.page, .iphone #updates.page {
		width: 100%;
		padding: 0;
	}

	.iphone .page > .aside {
		display: block;
		width: 100%;
		clear: both;
		position: relative;
		overflow: hidden;
	}

		.iphone .page > .aside > .img-wrap {
			float: left;
			margin-right: 20px;
			width: 120px;
			height: 120px;
			-webkit-box-shadow: 0px 0px 5px #666;
			-moz-box-shadow: 0px 0px 5px #666;
			box-shadow: 0px 0px 5px #666;
		}

			.iphone .page > .aside > .img-wrap img {
				width: 120px;
				height: 120px;
			}

		.iphone .page > .aside .app-info ul {
			padding: 0px;
		}
		.iphone .page > .aside .install-button {
			position: absolute;
			left: 140px;
			top: 75px;
			width: 100px;
		}

	.iphone .page > .section {
		clear: both;
		display: block;
		width: 100%;
		margin-top: 25px;
	}

	.iphone .screenshots .bar {
		display: none;
	}

	.iphone .screenshots .switchers {
		display: inline-block;
	}

	.iphone.home #store-header .wrapper {
		height: 54px;
	}

	.iphohe.home #store-header .wrapper.quicksearch {
		text-align; center;
	}
	.iphone.home #store-header .wrapper.quicksearch > * {
		display: none;
	}

	.iphone.home #store-header .wrapper.quicksearch form {
		display: block;
	}

	.iphone.home #store-header .wrapper.quicksearch #apps-search {
		position: relative;
		display: inline-block;
		margin-top: 9px;
		width: 98%;
		top: 0px;
		right: 0px;
	}

	.iphone.home #store-header .wrapper.quicksearch #apps-search .clear-wrapper {
		position: absolute;
		width: 28px;
		height: 28px;
		right: 27%;
		border-radius: 28px;
	}

	.iphone .apps-nav-bar {
		border-radius: 0;
	}

	.iphone .top-nav #apps-search {
		display: none;
	}

		.iphone .top-nav .nav-button  {
			display: none;
		}

		.iphone.home #store-header #apps-search input {
			width: 50%;
			padding-left: 10%;
			padding-right: 10%;
		}

		.iphone.home #store-header #apps-search .install-button {
			display: inline-block;
			margin-left: 4%;
		}

body.updates #store-header a.updates-btn {
	display: none;
}

	.iphone #store-footer {
		display: block;
	}
