<div class="aside">
	<div class="img-wrap">
		<img src="<%= APPLICATION_ICON_LARGE %>" alt="App Name"/>
	</div>
	<a href="<%= APPLICATION_INSTALL_URL %>" class="install-button reinstall-button">loading...</a>
	<ul class="app-info">
		<ul>
			<li><strong>Category:</strong> <%= APP_TAGS %></li>
		</ul>
		<ul>
			<li><strong>Version:</strong> <%= APPLICATION_VERSION %></li>
			<li><strong>Last updated:</strong> <%= FORMATTED_DATE %></li>
		</ul>
		<ul>
			<li><strong>Created by:</strong> <%= APPLICATION_OWNER_NAME %></li>
			<li><strong>©Genentech 2011</strong></li>
		</ul>
	</ul>
</div>
<div id="app-details" class="section">
	<h2><%= APP_DISPLAYNAME %></h2>
	<h3>Description</h3>
	<div class="description">
		<%= APPLICATION_DESCRIPTION %>
	</div>
</div>
