<div class="top-nav apps-nav-bar">
	<a class="nav-button left-nav-button disabled">
	</a>
	<div id="apps-sort-fake" class="top-nav-btn">
		<div class="arrow"></div>
		<span>All</span>
		<form id="apps-sort">
			<select>
			</select>
		</form>
	</div>
	<a class="nav-button right-nav-button">
	</a>
</div>
<div class="apps-wrapper">
	<ul class="apps">
		<!-- Apps here -->
	</ul>
</div>
<div class="bottom-nav apps-nav-bar">
	<a class="nav-button left-nav-button disabled">
	</a>
	<div id="markers">

	</div>
	<a class="nav-button right-nav-button">
	</a>
</div>

