<div class="img-wrap">
	<img src="<%= APPLICATION_ICON %>" alt="App Name"/>
</div>
<div class="content">
	<h3><a href="#apps/<%=APPLICATION_NAME%>"><%=APP_DISPLAYNAME%></a></h3>
	<p>Version: <%= APPLICATION_VERSION %></p>
	<p>Updated: <%= FORMATTED_DATE %></p>
	<p>Tags: <%= APP_TAGS %></p>
</div>
<a href="<%= APPLICATION_INSTALL_URL %>" class="install-button reinstall-button">
	Loading...
</a>

