<h3>Screenshots</h3>

<div class="img-markers">
</div>
<div class="screenshots">
	<div class="screenshots-wrapper">
		<div class="scrollable">
		</div>
	</div>
	<!-- <div class="bar">
		<div class="handle">
		</div>
	</div> -->
	<div class="switchers">
		<a class="left"></a>
		<a class="right"></a>
	</div>

</div>
