<div class="screen">
</div>
<div class="box-wrapper">
	<div class="box">
		<div class="install">
			<h2 title="How to install."></h2>
			<ul >
				<li>
					<h3>Step 1.</h3>
					<div class="img_wrapper">
						<img src="img/overlay/step03a.jpg" alt="Downloads">
					</div>
					<p>Download the application.</p>
					<p>Double-click to install in iTunes</p>
					<a href="" class="download">Download App </a>
				</li>
				<li>
					<h3>Step 2.</h3>
					<div class="img_wrapper">
						<img src="img/overlay/step02a.jpg" alt="Wire">
					</div>
					<p>Sync your iPhone.</p>
					<p>Make sure your iPhone is connected to your computer.</p>
				</li>
			</ul>
		</div>
		<div class="footer">
			<a href="#">Close</a>
		</div>
	</div>
</div>

