<div class="apps-showroom list">
	<div class="top-nav apps-nav-bar">
		<h2>UPDATES</h3>
		<a class="updates-btn top-nav-btn disabled">
			<span>LOADING</span>
		</a>
	</div>
	<div class="apps-wrapper">
		<ul class="apps">

		</ul>
	</div>
	<div class="bottom-nav apps-nav-bar">

	</div>
</div>
